@use "sass:list";
// import google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

// variables
$c-primary: #00c0f2;
$c-action: #3b50df;
$c-text: #0a123d;
$c-text-500: #80808f;

// responsive screen
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// mixing
@mixin screen($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%section-radius {
  border-radius: 5px;
  @include screen($xl) {
    border-radius: 15px;
  }
}

.btn,
.btn-outline {
  background-color: $c-action;
  border-radius: 0px;
  color: white;
  text-transform: capitalize;
  padding: 15px 20px;
  height: 58px;
  display: inline-block;
  text-decoration: none;
  &:hover {
    background-color: $c-action;
    color: white;
  }
}

.btn-outline {
  background-color: white;
  color: $c-primary;
}

.section-title-wrap {
  padding-bottom: 40px;
  @include screen($xl) {
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 35px;
  @include screen($xl) {
    font-size: 40px;
  }
  color: $c-text;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

.section-marker {
  font-size: 1rem;
  color: $c-primary;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

main,
section {
  margin-bottom: 100px;
}

// navbar style
nav {
  background-color: transparent;
  .navbar-brand {
    background-color: transparent;
    font-weight: bold;
    font-size: 35px;
    color: $c-primary;
    &:hover {
      color: $c-primary;
    }
  }

  .navbar-nav {
    .nav-item {
      font-weight: 400;
      @include screen($xl) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

// main style
main {
  .container {
    background-color: #f0f9ff;
    @extend %section-radius;
    .description {
      margin-top: 80px;
      // padding-top: 80px!important;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 50px;
      @include screen($xl) {
        margin-top: 0px;
      }
      @include screen($xl) {
        padding-left: 80px !important;
        padding-bottom: 0px;
      }
    }

    .key-point {
      list-style: none;
      text-transform: uppercase;
      color: $c-primary;
      font-weight: 500;
      overflow: hidden;
      margin-left: -10px;
      margin-bottom: 40px;
      li {
        float: left;
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding-right: 10px;
        padding-left: 10px;
        border-right: 2px solid $c-primary;
        &:last-child {
          border: 0px;
        }
      }
    }

    h1 {
      text-align: left;
      font-weight: 700;
      text-transform: capitalize;
      color: $c-text;
      font-size: 40px;
      @include screen($xl) {
        font-size: 50px;
      }
      margin-bottom: 35px;
    }

    p {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 40px;
    }
  }
}

// service section --------------

.service-list {
  .service-item {
    border: 1px solid #e0e9f4;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 25px;
    @include screen($xl) {
      padding: 45px;
    }
    @at-root .icon {
      width: 50px;
      height: 50px;
      @extend %center;
      margin-bottom: 20px;
      i {
        font-size: 20px;
      }
    }

    .info {
      flex: 1;
      h3 {
        font-weight: 600;
      }
      a {
        font-weight: 600;
        text-decoration: none;
        text-transform: capitalize;
        color: $c-text;
        i {
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
  }

  .col-12 {
    &:nth-child(1) {
      .icon {
        background-color: #fff9e9;
        color: #fdb30a;
      }
    }
    &:nth-child(2) {
      .icon {
        background-color: #21b5f5;
        color: white;
      }
    }
    &:nth-child(3) {
      .icon {
        background-color: #fff1ed;
        color: #fe6633;
      }
    }
    &:nth-child(4) {
      .icon {
        background-color: #eef0fd;
        color: #465ae1;
      }
    }
  }
}

// brand list
.brands-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  position: relative;
  @include screen($md) {
    row-gap: 25px;
  }
  @include screen($xl) {
    grid-template-columns: repeat(6, 1fr);
  }
  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background: hsla(0, 0%, 100%, 1);
    background: linear-gradient(90deg, #ffffff 0%, #e0e9f4 50%, #ffffff 100%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  //   border-top: 1px solid $c-text-500;
  //   border-bottom: 1px solid $c-text-500;
  .brand-item {
    text-align: center;
    a,
    img {
      display: inline-block;
    }
    img {
      //   width: 150px;
      width: 80px;
      @include screen($md) {
        width: 120px;
      }

      @include screen($xl) {
        width: 100px;
      }
    }
  }
}

// why work with me
#about-us {
  p,
  li {
    font-weight: 500;
  }

  .our-benefit {
    h5 {
      text-transform: capitalize;
    }

    ul {
      list-style: none;
      margin-bottom: 0px;
      li {
        position: relative;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
        &::after {
          content: "";
          background: transparent url("../images/icons/list-icon.png") center
            center;
          background-size: 100% 100%;
          width: 15px;
          height: 15px;
          display: block;
          position: absolute;
          left: -20px;
          top: 5px;
        }
      }
    }
  }

  .section-info {
    line-height: 200%;
  }
}

// powerfully features
#powerfully-features {
  .container {
    background-color: #f8f9fd;
    @extend %section-radius;
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .feature-lists {
    list-style: none;
    margin-top: 80px;
    li {
      text-align: center;
      width: 100%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0px;
      }
      .icon {
        margin-left: auto;
        margin-right: auto;
        background-color: #fe6633;
        color: white;
        border-radius: 50%;
      }
      h3 {
        margin-bottom: 15px;
        text-transform: capitalize;
        font-weight: 600;
      }
      p {
        color: $c-text-500;
      }

      // color list
      $colors: 21b5f5, fdb308, 3b50df, fe6c3b;

      @each $color in $colors {
        $indexNumber: index(
          $list: $colors,
          $value: $color,
        );
        &:nth-child(#{$indexNumber}) {
          .icon {
            background-color: unquote($string: "#" +#{$color});
          }
        }
      }
    }
  }
}

#customer-review {
  .customer-reviews {
    margin-top: 80px;
  }

  .review-item {
    .row {
      .col-3 {
        max-width: 75px;
      }
    }
    .card {
      padding: 20px;
      height: 100%;
      text-decoration: none;
    }

    .name {
      color: $c-text;
      font-weight: 600;
      margin-bottom: 0px;
    }
    .star-list {
      span {
        i {
          color: #fdb308;
        }
      }
    }

    .review-text {
      margin-top: 20px;
      p {
        color: $c-text;
        font-weight: 400;
      }
    }

    .review-footer {
      img {
        width: 60px;
        margin-right: 15px;
      }

      .date {
        color: #b9b9b9;
        font-size: 0.8rem;
      }
    }
  }
  .ai-directory {
    .review-footer {
      img {
        width: 125px !important;
      }
    }
  }
  .apple {
    .review-footer {
      img {
        width: 80px !important;
      }
    }
  }
  .google {
    .review-footer {
      img {
        width: 80px !important;
      }
    }
  }
}

// footer style
footer {
  background-color: #0a123d;
  p {
    color: white;
    font-weight: 500;
    text-align: center;
  }
}
